.banner {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
  }

  h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
  }


  span {
     color: #FFFF00;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
  }
}
