.cocktail-banner {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
  }
}
